body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(25, 24, 24);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
main{
    float: left;
    margin: 15px 0 ;
    height: 95vh;
    border-radius: 25px;
    width: 100%;
    background-image: url(../image/jamie-street-qSGqR5WvOnU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    float: left;
    margin: 10px 25% ;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.112) ;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.212);
    width: 50% ;
    height: calc( 100% - 20px );
}
.head{
    float: left;
    margin: 10px;
    color: white;
    font-size: 32px;
    font-weight: 200;
    width: 100%;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
#location{
    margin: 10px ;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    width: 200px;
    outline: none;
    border: none;
    color: #001834;
}
#submit{
    margin: 10px ;
    padding: 5px;
    font-size: 20px;
    background-color: #001834;
    outline: none;
    border: solid 1px #fdf5ee;
    color: #fdf5ee;
}
#submit:hover{
    color: #001834;
    background-color: transparent;
    border: solid 1px #001834;
}
.img{
    width: 100%;
}
#text , #cel , #far {
    margin: 10px ;
    color: #001834;
    font-size: 20px;
    font-weight: 500;
}
